

.subcard {
    width: 100%;
    padding: 6px;
    border: 1px solid #dfdfdf;
    background-color: #f4f4f4;
    border-radius: 4px;
}

.textoazul {
    background-color: #007bff !important;
}

.cardbold span.textoazul {
    background-color: #007bff !important;
}

.botoesconsulta {
    width: 100%;
    padding: 0.25rem 0.5rem;
    margin-bottom: 10px;
}

.textolink {
    color: #007bff !important;
    cursor: pointer;
    font-size: 12pt !important;
}

.md-form.md-outline label.active {
    background: #f4f4f4 !important;
    top: 0.01rem;
}

.pesquisacard {
    margin-top: 5px !important;
    margin-bottom: 15px !important;
}

.cardtotal {
    width: 100%;
    margin-bottom: 15px;
}

.cardtext {
    font-size: 14px;
}

.cardbold {
    font-weight: bold;
}
