<div class="">
    <div class="container mt-5">
        <div class="card card-login ">
            <div class="card-header bg-primary  ">
                <h5 class="card-title text-white mt-2"> Login</h5>
            </div>
            <div class="card-body">
                <form name="formularioLogin" #formulario="ngForm" novalidate (ngSubmit)="EnviarFormulario(formulario)">
                    <div class=" row">
                        <div class="col-12 p-3">
                            <div class="form-group ">
                                <label class="control-label">Usuário</label>
                                <input class="form-control " type="text" ngModel name="usuario" required>
                            </div>
                            <div class="form-group ">
                                <label class="control-label">Senha</label>
                                <input class="form-control " type="password" ngModel name="senha" required>
                            </div>
                            <div class="form-group ">
                                <label class="control-label">Conselho</label>
                                <dx-select-box [dataSource]="dataSourceConselho" displayExpr="sigla" valueExpr="sigla"
                                    [searchEnabled]="true" placeholder="" ngModel class="spw-control" name="conselho"
                                    [showClearButton]="true" required>
                                </dx-select-box>
                            </div>
                        </div>
                        <div class="mt-3 centralizar ">
                            <button class="btn btn-success btn-login" type="submit">
                                Entrar
                                <i class="fa fa-sign-in fa-lg" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>