<div class="row">
  <div class="col-md-10">
    <div>
      <h4><i class="fa-solid fa-arrow-left " style="cursor: pointer;" [routerLink]="['/user']"  ></i> Transferir</h4>
    </div>
    <div class="card mt-3">
      <form #formulario="ngForm" ngForm (ngSubmit)="transferir(formulario)">
        <div class="card-body">
          <div class="form-floating mb-3">
            <input
              type="Number"
              class="form-control"
              id="impValor"
              name="Valor"
              ngModel
              required
              placeholder="R$0,00"
            />
            <label for="impValor">Valor </label>
          </div>
        </div>
        <div class="card-body">
          <h4>Dados do cliente - Destino</h4>
          <div class="row">
            <div class="col-8">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="impNome"
                  name="Nome"
                  ngModel
                  required
                  placeholder="nome"
                />
                <label for="impNome">Nome</label>
              </div>
            </div>
            <div class="col-4">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="impCPF"
                  name="CPF"
                  ngModel
                  required
                  [dropSpecialCharacters]="false" mask="000.000.000-00"
                  placeholder="000.000.000-00"
                />
                <label for="impCPF">CPF</label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="impAgencia"
                  name="Agencia"
                  placeholder="0000"
                  [dropSpecialCharacters]="false" mask="0000"
                  
                  ngModel
                  required
                />
                <label for="impAgencia">Agencia</label>
              </div>
            </div>
            <div class="col-4">
              <div class="form-floating mb-3">
                <input
                  type="text"
                  class="form-control"
                  id="impConta"
                  name="Conta"
                  placeholder="00000000-0"
                  
                  ngModel
                  required
                />
                <label for="impConta">Conta</label>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="text-center">
              <button class="btn btn-dark w-100">Confirmar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
