a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 110px;
    width: 100%;
}
