.link-esqueceu{
    font-size: 10pt;
    cursor: pointer;
    color: blue;
    text-decoration: none;
    float: right;
}
.icone-login{
    font-size: 6rem;
    // margin: 0 auto;
    padding: 0;
    text-align: center;
}
.centralizar{
    margin:  0 auto;
}