<div class="wrapper">
  <div class="box header">
    <div>
      <img class="logo" src="../assets/logo.jpg">
    </div>
  </div>
  <div class="box content">
    <div class="card mt-3 centralizar" style="max-width: 500px">
      <div class="card-header">
        <h4>Login</h4>
      </div>
      <form #myForm="ngForm" ngForm (ngSubmit)="logar(myForm)">
        <div class="card-body">
          <div class="icone-login">
            <i class="fa-solid fa-circle-user"></i>
          </div>
          <div class="form-group mb-3">
            <label for="impCPF">CPF<span class="text-danger"> (*)</span></label>
            <input name="cpf" required [(ngModel)]="formData.cpf" type="text" class="form-control"
              [dropSpecialCharacters]="false" mask="000.000.000-00" />
          </div>
          <div class="form-group mb-3">
            <label for="impCPF">Senha<span class="text-danger"> (*)</span></label>
            <input type="password" name="senha" required [(ngModel)]="formData.senha" class="form-control" />
          </div>
        </div>
        <div class="card-footer text-center">
          <button class="btn btn-primary" style="width: 120px">Entrar</button>
        </div>
      </form>
    </div>
  </div>
</div>